footer.page-footer.orange
  .container
    .row
      .col.l4.s12
        h5.white-text 비개발자 코딩 그룹
        p.grey-text.text-lighten-4
          | 비 개발자도 코딩을 한다. 코딩은 창의력을 실체화해주기 때문이며 더 큰 이유는 코딩은 내가 이를 통해 얼마나 배울 것이 많은 부족한 존재인가를 느끼게 하여 겸허하게 하고 끊임없이 노력하게 하는 원동력으로 작용하기 때문이다.
      .col.l4.s12
        h5.white-text 토론에 참여하기
        p.grey-text.text-lighten-4
          | 비개발자 코딩에 참여하고 싶으세요? 지금 바로 페이스북 그룹에 가입하세요.
        a.btn.waves-effect.waves-light.red.lighten-3(target='_blank', href='https://www.facebook.com/groups/1052212701482131') facebook 그룹참여

      .col.l4.s12
        h5.white-text 
          a(href='https://github.com/yet-developer') 깃허브 참여하기



  .footer-copyright
    .container
      | Made by
      a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize

// Scripts
script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script(src='./public/init.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
