head
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
	// link(rel='stylesheet', href='./public/style.css')
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
